<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>read temp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />

    </head>
    <body>
        <div class="container-fluid bg-light">
            <nav class="navbar navbar-light sticky-top" style="background-color: #e3f2fd;">
                <span class="navbar-brand mb-0 h1 ">Onnela</span>
                <div class="navbar-nav text-right">
                        <select id="list" onchange="getSelectValue();">
                            <option id="1" value="1">Tämä vuorokausi</option>
                            <option id="30" value="30">Tämä kuukausi</option>
                            <option id="365" value="365">Tämä vuosi</option>
                        </select>
                    </div>
            </nav>

            <div class="row border-top mt-2 pt-2" >
                <div id="gauge_temp2" class="col-md-4   mb-2"></div>
                <div class="col-md-1 ml-md-n5 mr-md-0 d-md-block mb-4 text-center">
                    <p id="temp2_max" class="text-nowrap small text-danger d-inline ">Max: ...</p>
                    <p id="temp2_min" class="text-nowrap small text-primary d-inline ">Min: ...</p>
                </div>
                <div class="col-md-7">
                    <canvas id="chart_temp2" width="800" height="300"></canvas>
                </div>
            </div>
            <div class="row border-top pt-2" >
                <div id="gauge_temp" class="col-md-4 mb-2"></div>
                <div class="col-md-1 ml-md-n5 mr-md-0 d-md-block mb-4 text-center">
                    <!-- <p id="temp_max" class="text-nowrap small text-danger d-inline d-md-block "><span class="fas fa-long-arrow-alt-up"></span></p> -->
                    <!-- <p id="temp_min" class="text-nowrap small text-primary d-inline d-md-block "><span class="fas fa-long-arrow-alt-down"></span></p> -->
                    <p id="temp_max" class="text-nowrap small text-danger d-inline ">Max: ...</p>
                    <p id="temp_min" class="text-nowrap small text-primary d-inline ">Min: ...</p>
                </div>
                <div class="col-md-7">
                    <canvas id="chart_temp" width="800" height="300"></canvas>
                </div>
            </div>
            <div class="row border-top pt-2" >
                <div id="gauge_hum" class="col-md-4   mb-2"></div>
                <div class="col-md-1 ml-md-n5 mr-md-0 d-md-block mb-4 text-center">
                    <p id="hum_max" class="text-nowrap small text-danger d-inline ">Max: ...</p>
                    <p id="hum_min" class="text-nowrap small text-primary d-inline ">Min: ...</p>
                </div>
                <div class="col-md-7">
                    <canvas id="chart_hum" width="800" height="300"></canvas>
                </div>
            </div>
        </div>
        <footer class="page-footer font-small blue">
            <div class="footer-copyright text-center py-3">© 2019 Copyright: HM</div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/app.js') }}" ></script>
        <!-- <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/moment-with-locales.min.js') }}" ></script> -->
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/raphael-2.1.4.min.js') }}" ></script>
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/justgage.js') }}" ></script>
    </body>
</html>